<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="#">Backoffice - Katia Moreira</a>
			<ul class="nav">
				<li class="active"><a href="#">Home</a></li>
				<li><a href="#">Projets pro</a></li>
				<li><a href="#">Projets persos</a></li>
				<li><a href="#">Projets étudiants</a></li>
			</ul>
		</div>
	</div>
</div>