{% extends 'KaymoreyPortfolioBackBundle::layout.html.twig' %}
{% block content %}
<div class="row">
	<div class="span12">
		<h1>Hello Katia !</h1>
		<h2>Ceci est ton backoffice créé en Symfony 2 !</h2>
	</div>
</div>
{% endblock %}
