{% extends 'KaymoreyPortfolioBackBundle::layout.html.twig' %}
{% block content %}
<div class="row">
	<div class="span12">
		<h3>Projets <small>MODIFIER UN PROJET</small></h3>
		<a class="btn btn-success" href="{{ path('portfolioback_projects') }}"><i class="icon-circle-arrow-left icon-white"></i> Retour aux projets</a>
		<hr />
		<form method="post" action="{{ path('portfolioback_projects_edit', {'id' : projet.id}) }}" {{ form_enctype(form) }}>
			{{ form_widget(form) }}
			<input type="submit" class="btn btn-primary" value="Enregistrer" />
		</form>
	</div>
</div>
{% endblock %}
