/* Katia Moreira - Portfolio - Backoffice - created with LESS - LESS is MORE */
section {
  padding-top: 40px;
}
[class*="span"] {
  padding: 10px;
}
.div-center {
  float: none;
  margin: 0 auto;
}
.div-center.remove {
  text-align: center;
}
.remove-confirm-title {
  text-align: center;
}
.remove-category-title {
  text-align: center;
}
.dropdown-docs-div {
  display: none;
}
